@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/code-next-trial');

* {
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Code Next-Trial', sans-serif;
  /* font-family: 'Code Next', sans-serif; */
  font-weight: 400;
  color: #202B3C;
}

body {
  height: 100vh;
  width: 100vw;
}

h1{
  font-weight: 400;
}

.div_header {
  height: 150px;
  /* background-color: darkgrey; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.div_title {
  text-align: center;
}

#logo-aws {
  width: 110px;
  height: 70px;
}

.image-curriculo {
  border-radius: 50%;
  width: 200px;
  transition: all 0.3s;
}

.image-curriculo:hover {
  opacity: 0.3;
  
}

.integrante_image {
  position: relative;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
}

.integrante_image span {
  opacity: 0;
  position: absolute;
  right: 35px;
  top: 90px;
  pointer-events: none;
}

.integrante_image:hover span {
  opacity: 1;
}

.div_section {
  margin-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div_integrante {
  padding: 50px;
}

.integrante {
  text-decoration: none;
  color: black;
}

.div_curriculos {
  display: flex;
  justify-content: center;
}